.banner{
    display: flex;
    width: 17cm;
    height: 2.197cm;
    margin-top: 1.9cm;
    margin-left: 2.197cm;
    margin-right: 0.6cm;
    border: 1.5px solid black;
}

.primerbanner{
    display: flex;
    width: 4.55cm;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-right: 1.5px solid black;
    
}

.primertexto, .segundotexto{
    height: 0.480cm;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logoenercop #logoenercopimg{
    width: 2.15cm;
    height: 1.3cm;
    padding-top: 1px;
}
.primerbanner .logoenercop{
    height: 1.139cm;
}

.segundobanner{
    display: flex;
    flex-direction: column;
    width: 8.92cm;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.establecimiento{
    height: 1.68cm;
}

.titulo{
    height: 0.53cm;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logouaa{
    height: 0.84cm;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px solid black;
}

.tercerbanner{
    display: flex;
    flex-direction: column;
    width: 3.704cm;
    font-size: 13px;
    font-weight: bold;
    justify-content: center;
    border-left: 1.5px solid black;
}

.registro, .vigencia, .revision{
    height: 0.56cm;
    padding: 0px;
    padding-left: 3px;
}

.pagina{
    height: 0.53cm;
    padding: 0px;
    padding-left: 3px;
}

#bannerfecha, #bannerhora{
    display: inline-block;
    height: 0.53cm;
    margin-top: 1.06cm;
    margin-bottom: 1.06cm;
    font-size: 15px;
    font-weight: bold;
}

#bannerfecha{
    width: 10.01cm;
    margin-left: 2.197cm;
    margin-right: 0cm;
}

#bannerhora{
    width: 6.94cm;
    margin-left: 0cm;
}