body {
background: rgb(204,204,204); 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: auto;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

.container-1{
    display: none;
}

table, th, td{
  border: 1px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

th{
  height: 60px;
  width: 90px;
  font-weight: 550;
}
td{
  height: 20px;
  width: 90px;
  font-weight: normal;
}
.container-2{
    display: grid;     
}
#test{
    text-align: center;
    left: 100px;
}
h4{
  text-align: end;
}

#shitty-header{
  height: 90px;
  width: 20cm;
}

.c3, .c2{
  width: 245px;
}
.d3{
  margin-left: 105px;
  margin-top: 50px;
}

h1, h2{
  font-size: medium;
  font-weight: 550;
}

h1, h3{
  text-align: left;
  float: left;
}

h2, h4{
  text-align: right;
  float: right;
}

.d2{
  display: inline-block;
  margin-left: 110px;
  margin-right: 100px;
  width: 14cm;
  padding-inline-start: 0px;
  padding-top: 80px;
}

.d4{
  display: inline-block;
  width: 13cm;
  padding-block-start: 130px;
  margin-left: 95px;
  margin-right: 95px;
}

